.loader,
.loader:after {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 6px solid rgba(18, 181, 86, 0.4);
  border-right: 6px solid rgba(18, 181, 86, 0.4);
  border-bottom: 6px solid rgba(18, 181, 86, 0.4);
  border-left: 6px solid rgb(18, 181, 86);
  transform: translateZ(0);
  animation: spinAnimation 0.8s infinite linear;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}